
/* CSS RESET*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;




/*OPEN SANS FONT FOR THE WHOLE BODY*/
}

body {
	font-family: 'Open Sans', sans-serif;
}




/*NAVIGATION BAR*/

nav	{
	padding: 0.8rem;
	padding-right: 10%;
	top: 0;
	position: sticky !important;
	font-size: 1.75vh;
	overflow: auto;
	background-color: white;
}


nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
	position: sticky !important;
}


nav .nav-logo {
	margin-left: 10rem !important;
	position: sticky !important;
}


.right-nav {
	float: right;
}

/*NAVIGATION BAR END*/

/*TUITT BUTTON*/

.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	width: 110px;
	font-size: 0.75rem;
	padding: 0.5rem;
	text-align: center;
	border-color: transparent

}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	width: 150px;
	font-size: 0.75rem;
	padding: 0.5rem;
	text-align: center;
	border-color: transparent

}
	
/*TUITT BUTTON END*/


/*LANDING PAGE BACKGROUND*/
#bg-image {
	background-image:url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-position: center;
    background-size:cover;
}

/*LANDING PAGE BACKGROUND END*/

/*BLACK BG COLOR AND OPACITY*/
.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1rem;
	min-height: 50vh;
}

.title {
	font-family: 'Zilla Slab', sans-serif;
	font-size: 1.5rem solid;
}

.subtitle {
	font-family: 'Zilla Slab', sans-serif;
	font-size: 1rem;

}

.title-2{
	font-family: 'Zilla Slab', sans-serif;
	font-size: 1rem;
}


.container {
	color: white;
    text-align: right;
    width: 441.4px;
    float: right;
    padding-right: 10%
}


/*What is a Developer Career*/

.title-2 {
	text-align: center;
	margin: 2rem !important;
	font-size: 2rem;
	display: block;
	box-sizing: inherit;
}

.intro-description {
	text-align: ceter;
	display: block;
	margin: 5rem !important;
	margin-left: 10rem !important;
	margin-right: 10rem !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.75vh;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
}


/*Pre-footer*/

.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
	background-size: 100%;
}

.prefooter-description {
	text-align: justify center;
	display: block;

	margin-left: 10rem !important;
	margin-right: 10rem !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.75vh;
    font-weight: 400;
    line-height: 1.5;
    font-weight: 400;
    line-height: 1.5;

}


.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	width: 150px;
	font-size: 1.75vh;
	padding: 0.5rem;
	text-align: center;
	border-color: transparent

}
/*Footer*/
footer {
	text-align: center;
	margin: 5rem !important;
	font-size: 1.75vh;
}